li.openable
  a(href="#")
    span.menu-icon
      i.fa.fa-info-circle.fa-lg 
    span.text Information
    span.menu-hover
  ul.submenu
    li
      #about
        #about_in.acc_container
          h4.spacer developed by:
          p Department of Information Engineering, Computer Science and Mathematics at Universit&agrave; degli Studi De L'Aquila.
      #about  
        #about_in.acc_container
          h4.spacer people:
          p Ivano Malavolta
          p Francesco Gallo  
          p Ludovico Iovino
          p Stefano Pace
          p Vasco Gallotti
          p Michele Flammini
          p Michele Rastelli
          p Sergio De Bei
