// Bus Routes
li.openable
  a(href="#")
    span.menu-icon
      i.fa.fa-tag.fa-lg
    span.text Bus Routes
    span.menu-hover
  ul.submenu
    li
      .search-block
        input#spotlight.input-sm(type="text", placeholder="search here...")
  ul#myline.submenu
